@{
  Layout = "_Layout";
}

@model Animal.Models.AnimalType

<h4>Add a new Animal Type</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Type)
  @Html.TextBoxFor(model => model.Type)
  <input type="submit" value="Add new Animal Type" />
}
<p>@Html.ActionLink("Show all animal types", "Index")</p>