@{
  Layout = "_Layout";
}

<h1>Welcome to the Animal Shelter!</h1>
<p>@Html.ActionLink("List of Animal Types", "Index", "AnimalTypes")</p> 
<p>@Html.ActionLink("List of Animals", "Index", "Animals")</p> 
